{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 50px">
    <h2>Buat Balai Pengobatan</h2>

    {% csrf_token %}
    {{ form.as_p }}

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
    </div>
    
    <br><br>

    <button class="btn btn-primary" name='submit' type='submit'>Submit</button>
</div>

{% endblock content %}