{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 50px;">
    <h2>Menu Navigasi CS</h2>

    <ul>
        <li>Profil</li>
        <li>Balai Pengobatan dan Apotek
            <ol>
                <li>Daftar Balai Pengobatan</li>
                <li>Daftar Apotek</li>
            </ol>
        </li>
        <li>Transaksi Pembelian dan Transaksi Resep
            <ol>
                <li>Daftar Transaksi Pembelian</li>
                <li>Buat Transaksi Resep</li>
                <li>Daftar Transaksi Resep</li>
            </ol>
        </li>
        <li>Produk Apotek
            <ol>
                <li>Daftar Produk Apotek</li>
            </ol>
        </li>
        <li>List Produk Dibeli
            <ol>
                <li>Daftar Produk Dibeli</li>
            </ol>
        </li>
        <li>Pengantaran Farmasi
            <ol>
                <li>Daftar Pengantaran Farmasi</li>
            </ol>
        </li>
        <li>Obat dan Alat Medis
            <ol>
                <li>Buat Obat</li>
                <li>Daftar Obat</li>
                <li>Buat Alat Medis</li>
                <li>Daftar Alat Medis</li>
            </ol>
        </li>
    </ul>

</div>

{% endblock content %}