{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 50px;">
    <ul>
        <li>Profile</li>
        <li>Balai Pengobatan dan Apotek
            <ol>
                <li>Daftar Balai Pengobatan</li>
                <li>Daftar Apotek</li>
            </ol>
        </li>
        <li>Transaksi Pembelian dan Transaksi Resep
            <ol>
                <li>Buat Transaksi Pembelian</li>
                <li>Daftar Transaksi Pembelian</li>
                <li>Buat Transaksi Resep</li>
            </ol>
        </li>
        <li>Daftar Produk Apotek</li>
        <li>Daftar List Produk Dibeli</li>
        <li>Obat dan Alat Medis
            <ol>
                <li>Daftar Obat</li>
                <li>Daftar Alat Medis</li>
            </ol>
        </li>
    </ul>

</div>

{% endblock content %}