{% extends 'base.html' %}
{% block content %}

<div class="form-group col-md-8 mx-auto" style="margin-top: 50px;">
<h2>Data List Produk Dibeli</h2>

<style type="text/css">
    .tg  {
        border-collapse:collapse;border-color:#aabcfe;border-spacing:0;
        }
    .tg td{
        background-color:#e8edff;border-color:#aabcfe;border-style:solid;border-width:1px;color:#669;
      font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;
      }
    .tg th{
        background-color:#b9c9fe;border-color:#aabcfe;border-style:solid;border-width:1px;color:#039;
      font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;
      }
    .tg .tg-u0vj{
        background-color:#D2E4FC;border-color:#000000;color:rgb(0, 0, 0);text-align:left;vertical-align:bottom
        }
    .tg .tg-46n2{
        border-color:#000000;color:rgb(0, 0, 0);font-weight:bold;text-align:left;vertical-align:bottom
        }
    .tg .tg-xisi{
        background-color:#D2E4FC;border-color:#000000;color:rgb(0, 0, 0);font-weight:bold;text-align:left;vertical-align:bottom
      }
    .tg .tg-qkgh{
        border-color:#000000;color:rgb(0, 0, 0);text-align:left;vertical-align:bottom
        }
    </style>
    <table class="tg" style="table-layout: fixed; width: 960px">
      <tr>
        <th class="tg-46n2">jumlah</th>
        <th class="tg-46n2">id_apotek</th>
        <th class="tg-46n2">id_produk</th>
        <th class="tg-46n2">id_transaksi_pembelian</th>
        <th class="tg-46n2">Action</th>
      </tr>
      <tr>
        <td class="tg-xisi">5</td>
        <td class="tg-xisi">AP01</td>
        <td class="tg-xisi">PR001</td>
        <td class="tg-xisi">T001</td>
        <td class="tg-0lax">
            <a href="">
                <button>Update</button>
            </a>
            <a href="">
                <button>Delete</button>
            </a>
        </td>
      </tr>
      <tr>
        <td class="tg-qkgh">4</td>
        <td class="tg-qkgh">AP01</td>
        <td class="tg-qkgh">PR002</td>
        <td class="tg-qkgh">T002</td>
      </tr>
      <tr>
        <td class="tg-u0vj">1</td>
        <td class="tg-u0vj">AP04</td>
        <td class="tg-u0vj">PR003</td>
        <td class="tg-u0vj">T003</td>
      </tr>
      <tr>
        <td class="tg-qkgh">2</td>
        <td class="tg-qkgh">AP03</td>
        <td class="tg-qkgh">PR004</td>
        <td class="tg-qkgh">T004</td>
      </tr>
      <tr>
        <td class="tg-u0vj">4</td>
        <td class="tg-u0vj">AP02</td>
        <td class="tg-u0vj">PR005</td>
        <td class="tg-u0vj">T005</td>
      </tr>
      <tr>
        <td class="tg-qkgh">10</td>
        <td class="tg-qkgh">AP05</td>
        <td class="tg-qkgh">PR006</td>
        <td class="tg-qkgh">T006</td>
      </tr>
      <tr>
        <td class="tg-u0vj">8</td>
        <td class="tg-u0vj">AP04</td>
        <td class="tg-u0vj">PR007</td>
        <td class="tg-u0vj">T007</td>
      </tr>
      <tr>
        <td class="tg-qkgh">6</td>
        <td class="tg-qkgh">AP05</td>
        <td class="tg-qkgh">PR008</td>
        <td class="tg-qkgh">T008</td>
      </tr>
      <tr>
        <td class="tg-u0vj">1</td>
        <td class="tg-u0vj">AP04</td>
        <td class="tg-u0vj">PR009</td>
        <td class="tg-u0vj">T009</td>
      </tr>
      <tr>
        <td class="tg-qkgh">2</td>
        <td class="tg-qkgh">AP03</td>
        <td class="tg-qkgh">PR010</td>
        <td class="tg-qkgh">T010</td>
      </tr>
      <tr>
        <td class="tg-u0vj">2</td>
        <td class="tg-u0vj">AP01</td>
        <td class="tg-u0vj">PR011</td>
        <td class="tg-u0vj">T011</td>
      </tr>
      <tr>
        <td class="tg-qkgh">1</td>
        <td class="tg-qkgh">AP01</td>
        <td class="tg-qkgh">PR012</td>
        <td class="tg-qkgh">T012</td>
      </tr>
      <tr>
        <td class="tg-u0vj">5</td>
        <td class="tg-u0vj">AP04</td>
        <td class="tg-u0vj">PR013</td>
        <td class="tg-u0vj">T013</td>
      </tr>
      <tr>
        <td class="tg-qkgh">5</td>
        <td class="tg-qkgh">AP03</td>
        <td class="tg-qkgh">PR014</td>
        <td class="tg-qkgh">T014</td>
      </tr>
      <tr>
        <td class="tg-u0vj">1</td>
        <td class="tg-u0vj">AP02</td>
        <td class="tg-u0vj">PR015</td>
        <td class="tg-u0vj">T015</td>
      </tr>
      <tr>
        <td class="tg-qkgh">1</td>
        <td class="tg-qkgh">AP02</td>
        <td class="tg-qkgh">PR015</td>
        <td class="tg-qkgh">T015</td>
      </tr>
    </table>

</div>

{% endblock content %}