{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 50px;">
    <h2>Data Balai Pengobatan</h2>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-color: #9ABAD9;
            border-spacing: 0;
        }
    
        .tg td {
            background-color: #EBF5FF;
            border-color: #9ABAD9;
            border-style: solid;
            border-width: 1px;
            color: #444;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }
    
        .tg th {
            background-color: #409cff;
            border-color: #9ABAD9;
            border-style: solid;
            border-width: 1px;
            color: #fff;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }
    
        .tg .tg-baqh {
            text-align: center;
            vertical-align: top
        }
    
        .tg .tg-c3ow {
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }
    
        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }
    </style>
    <table class="tg" style="table-layout: fixed; width: 960px">
        <colgroup>
            <col style="width: 76px">
            <col style="width: 209px">
            <col style="width: 278px">
            <col style="width: 133px">
            <col style="width: 174px">
            <col style="width: 90px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-c3ow">id_balai</th>
                <th class="tg-baqh">alamat_balai</th>
                <th class="tg-baqh">nama_balai</th>
                <th class="tg-baqh">jenis_balai</th>
                <th class="tg-baqh">telepon_balai</th>
                <th class="tg-baqh">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for balai in data_balai %}
                <tr>
                    <td>{{ balai.id_balai }}</td>
                    <td>{{ balai.alamat_balai }}</td>
                    <td>{{ balai.nama_balai }}</td>
                    <td>{{ balai.jenis_balai }}</td>
                    <td>{{ balai.telepon_balai }}</td>
                    <td>TO BE ADDED</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}