{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2>Data Obat</h2>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-color: #9ABAD9;
            border-spacing: 0;
        }
    
        .tg td {
            background-color: #EBF5FF;
            border-color: #9ABAD9;
            border-style: solid;
            border-width: 1px;
            color: #444;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }
    
        .tg th {
            background-color: #409cff;
            border-color: #9ABAD9;
            border-style: solid;
            border-width: 1px;
            color: #fff;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }
    
        .tg .tg-baqh {
            text-align: center;
            vertical-align: top
        }
    
        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }
    </style>
    <table class="tg" style="table-layout: fixed; width: 989px">
        <colgroup>
            <col style="width: 57px">
            <col style="width: 73px">
            <col style="width: 96px">
            <col style="width: 50px">
            <col style="width: 146px">
            <col style="width: 158px">
            <col style="width: 190px">
            <col style="width: 128px">
            <col style="width: 91px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-baqh">id_obat</th>
                <th class="tg-baqh">id_produk</th>
                <th class="tg-baqh">id_merk_obat</th>
                <th class="tg-baqh">netto</th>
                <th class="tg-baqh">dosis</th>
                <th class="tg-baqh">aturan_pakai</th>
                <th class="tg-baqh">kontraindikasi</th>
                <th class="tg-baqh">bentuk_kesediaan</th>
                <th class="tg-baqh">action</th>
            </tr>
        </thead>
        
        <tbody>
            {% for obat in data_obat %}
                <tr>
                    <td>{{ obat.id_obat }}</td>
                    <td>{{ obat.id_produk }}</td>
                    <td>{{ obat.id_merk_obat }}</td>
                    <td>{{ obat.netto }}</td>
                    <td>{{ obat.dosis }}</td>
                    <td>{{ obat.aturan_pakai }}</td>
                    <td>{{ obat.kontraindikasi }}</td>
                    <td>{{ obat.bentuk_kesediaan }}</td>
                    {% if role == 'admin-apotek' or role == 'cs' %}
                        <td>
                            <a href="">
                                <button>Update</button>
                            </a>
                            <a href="">
                                <button>Delete</button>
                            </a>
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock content %}