{% extends 'base.html' %} {% block content %}

<div class="form-group col-md-11 mx-auto" style="margin-top: 50px;">
  <h2>Data Apotek</h2>

  <style type="text/css">
    .tg {
      border-collapse: collapse;
      border-color: #9abad9;
      border-spacing: 0;
    }

    .tg td {
      background-color: #ebf5ff;
      border-color: #9abad9;
      border-style: solid;
      border-width: 1px;
      color: #444;
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }

    .tg th {
      background-color: #409cff;
      border-color: #9abad9;
      border-style: solid;
      border-width: 1px;
      color: #fff;
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: bold;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }

    .tg .tg-baqh {
      text-align: center;
      vertical-align: top;
    }

    .tg .tg-c3ow {
      border-color: inherit;
      text-align: center;
      vertical-align: top;
    }

    .tg .tg-0lax {
      text-align: left;
      vertical-align: top;
    }
  </style>
  <table class="tg" style="table-layout: fixed; width: 960px;">
    <colgroup>
      <col style="width: 80px;" />
      <col style="width: 150px;" />
      <col style="width: 200px;" />
      <col style="width: 140px;" />
      <col style="width: 174px;" />
      <col style="width: 174px;" />
      <col style="width: 280px;" />
      <col style="width: 90px;" />
    </colgroup>
    <thead>
      <tr>
        <th class="tg-c3ow">ID Apotek</th>
        <th class="tg-baqh">Nama Apotek</th>
        <th class="tg-baqh">Alamat Apotek</th>
        <th class="tg-baqh">No Telp Apotek</th>
        <th class="tg-baqh">Nama Penyelenggara</th>
        <th class="tg-baqh">No SIA Penyelenggara</th>
        <th class="tg-baqh">Email Penyelenggara</th>
        <th class="tg-baqh">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for data in data_apotek %}
      <tr id="{{ data.id_apotek }}">
        <td>{{ data.id_apotek }}</td>
        <td>{{ data.nama_apotek }}</td>
        <td>{{ data.alamat_apotek }}</td>
        <td>{{ data.telepon_apotek }}</td>
        <td>{{ data.nama_penyelenggara }}</td>
        <td>{{ data.no_sia }}</td>
        <td>{{ data.email }}</td>
        {% if role == 'admin-apotek' %}
        <td>
          <a href="/apotek/update/{{ data.id_apotek }}">
            <button>Update</button>
          </a>

          <form method="POST">
            {% csrf_token %}
            <button type="submit"
            onclick="deleteRowApotek('{{ data.id_apotek }}', '{{ csrf_token }}')">
                Delete
            </button>
        </form>
        </td>
        {% else %}
        <td>-</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if role == 'admin-apotek'%}
  <a href="/navigate/admin-apotek">
    <button style="margin-top: 20px;" class="btn btn-info" type="submit">
      Menu Navigasi
    </button>
  </a>
  {% elif role == 'cs' %}
  <a href="/navigate/cs">
    <button style="margin-top: 20px;" class="btn btn-info" type="submit">
      Menu Navigasi
    </button>
  </a>
  {% elif role == 'konsumen' %}
  <a href="/navigate/konsumen">
    <button style="margin-top: 20px;" class="btn btn-info" type="submit">
      Menu Navigasi
    </button>
  </a>
  {% elif role == 'kurir' %}
  <a href="/navigate/kurir">
    <button style="margin-top: 20px;" class="btn btn-info" type="submit">
      Menu Navigasi
    </button>
  </a>
  {%endif%}
</div>

{% endblock content %}
