{% extends 'base.html' %}
{% block content %}

<div class='container' style="margin-top: 50px;">
    <h1>REGISTER KE FARMAKAMI 56</h1>

    <h5>Pilih role yang ingin anda daftarkan<h5>

    <div id="role-list" class="row">    
        <a href="">
            <button class="btn btn-outline-dark">ADMIN</button>
        </a>
        
        <a href="">
            <button class="btn btn-outline-dark">KONSUMEN</button>
        </a>
        
        <a href="">
            <button class="btn btn-outline-dark">KURIR</button>
        </a>
        
        <a href="">
            <button class="btn btn-outline-dark">CS</button>
        </a>
    </div>

</div>

{% endblock content %}