{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 50px;">
    <h2>REGISTRASI ADMIN</h2>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button class="btn btn-primary" name='register' type='submit'>Register</button>
        
        {% if registered != "" %}
            <h4 style="color: green;">{{ registered }}</h4>
        {% else %}
            {% for e in error %}
                <p style="color: red;">{{ e }}</p>
            {% endfor %}
        {% endif %}
        
    </form>
    <p style="color: green;"><a href="/login/">Login Now</a></p>
</div>

{% endblock content %}